.idea/
.venv/
.streamlit/
__pycache__/
*.pyc
*.pyo
*.pyd

streamlit.out.log
streamlit.err.log
tmp/

data/pdfs/
data/*.pdf
data/index_chunks.json
data/index_embeddings.npy
data/timetable_chunks.json
data/timetable_embeddings.npy

.DS_Store
Thumbs.db
